ESP32_ IoT_ Sensor_ Node_ with_ MQTT_ and_ WiFi_ Manager/flows.json
[
    {
        "id": "8263f4ac29ae02ed",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "924bcefede98d29f",
        "type": "aedes broker",
        "z": "8263f4ac29ae02ed",
        "name": "broker.hivemq.com",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 390,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "67f7e99d267e4a8a",
        "type": "mqtt in",
        "z": "8263f4ac29ae02ed",
        "name": "Temp subscriber",
        "topic": "esp32/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "014e6eeee239b825",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "16ec0a4ab2d9ce23",
                "f3dbc5fbc6f160f6",
                "bb039d56f624e534"
            ]
        ]
    },
    {
        "id": "083c0519eaffd547",
        "type": "mqtt in",
        "z": "8263f4ac29ae02ed",
        "name": "Hall subscriber",
        "topic": "esp32/hall",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "014e6eeee239b825",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "7235da65876ab628",
                "138dcc2a19829a44",
                "7da58739b50c984b"
            ]
        ]
    },
    {
        "id": "16ec0a4ab2d9ce23",
        "type": "debug",
        "z": "8263f4ac29ae02ed",
        "name": "temp debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "7235da65876ab628",
        "type": "debug",
        "z": "8263f4ac29ae02ed",
        "name": "Hall debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "f3dbc5fbc6f160f6",
        "type": "ui_gauge",
        "z": "8263f4ac29ae02ed",
        "name": "",
        "group": "b312afdb1dcce21a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "bb039d56f624e534",
        "type": "ui_chart",
        "z": "8263f4ac29ae02ed",
        "name": "Temp chart",
        "group": "b312afdb1dcce21a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart_Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "138dcc2a19829a44",
        "type": "ui_chart",
        "z": "8263f4ac29ae02ed",
        "name": "Hall chart",
        "group": "b312afdb1dcce21a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart_Hall",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7da58739b50c984b",
        "type": "ui_gauge",
        "z": "8263f4ac29ae02ed",
        "name": "Hall",
        "group": "b312afdb1dcce21a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hall",
        "label": "Degree",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "3698234c84b1e803",
        "type": "ui_switch",
        "z": "8263f4ac29ae02ed",
        "name": "LED control",
        "label": "switch",
        "tooltip": "",
        "group": "b312afdb1dcce21a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "esp32/led",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "d58078d6be251dbb",
                "6213a73f19ef6718",
                "682e15f390cb6fd5"
            ]
        ]
    },
    {
        "id": "d58078d6be251dbb",
        "type": "mqtt out",
        "z": "8263f4ac29ae02ed",
        "name": "",
        "topic": "esp32/led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "014e6eeee239b825",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "6213a73f19ef6718",
        "type": "debug",
        "z": "8263f4ac29ae02ed",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "682e15f390cb6fd5",
        "type": "ui_text_input",
        "z": "8263f4ac29ae02ed",
        "name": "LED status",
        "label": "",
        "tooltip": "",
        "group": "b312afdb1dcce21a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 510,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "014e6eeee239b825",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b312afdb1dcce21a",
        "type": "ui_group",
        "name": "AgrIoT",
        "tab": "47681f53c69a9bbd",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "47681f53c69a9bbd",
        "type": "ui_tab",
        "name": "AgrIoT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb27b4b3be2d80ec",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-aedes": "0.15.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]